@media screen and (max-width:1060px) {
	.m-head{
		
		padding-right: 61px;
	}

		.g-inner{
		width: 980px;
	}

}





@media screen and (max-width:990px) {

	.g-inner{
		width: 880px;
	}

	.article{
		width: 45%;
	}

	.site-name{
		width: 140px;
	}

	.m-head{
		padding-left: 150px;
		padding-right: 55px;
	}

	.cat-blocks{
		margin-top: 120px;
	}

	.cat-blocks-item{
		margin: 40px !important;
	}

	.section{
		margin-top: 40px;
	}

	.breadcrumbs{
		top: 107px;
	}

	.search-input-wrap{
		width: 120px;
	}

	.search-wrap.abs {
    height: 30px;
    padding: 4px 12px;
    top: 104px;
    width: 161px;
	}

}

@media screen and (max-width:890px) {
	.g-inner{
		width: 98%;
	}

	.site-name{
		width: 100px;
		top: 20px;
	}

	.m-head{
		padding-left: 110px;
		padding-right: 4px;
	}

	.article{
		width: 70%;
		height: auto;
		margin: 0 auto 30px;
	}

	.section{
		margin-top: 20px;
		border: none;
	}

	.breadcrumbs{
		left: 95px;
		top: 104px;
	}

	.top-menu{
		margin-right: 50px;
	}

	.cart-wrap{
		top: 10px;
		right: 4px;
	}

	.categories{
		padding-top: 20px;
	}

	.footer-wrap{
		height: 150px;
	}

	body{
		padding-bottom: 200px;
	}
}


@media screen and (max-width:790px) {

	.goto{
		display: block;
		padding: 14px;
		width: 100%;
		height: 100%;
		text-align: right;
		cursor: pointer;
		line-height: 21px;
	}

	.goto:before{
		display:inline-block;
		content:'';
		width:50px;
		height:100%;
		float: left;
		background: transparent url('../images/menu.png') center  center no-repeat;
	}

	.page-title{
		text-align: left;
		text-indent: 5px;
	}

	.cat-wrapping{
		display: none;
	}

	.m-head{
		padding: 0  ;
		height: 50px;
		background: #9671B1;
		border-bottom: 1px solid #9671B1;
		width: 100%;
	}

	.article{
		width: 100%;
	}

	.site-name{
		left: 50%;
		top: 55px;
		width: 100px;
		margin-left: -50px;
	}

	.categories {
    padding-top: 0;
    width: 230px;
    left: 0;
    top: 0;
  	position: relative;
    overflow: hidden;
    background: #9671B1;
    height: 50px;
    clear: none;
    width: 33.33%;
    display: inline-block;
	}

	

	.phone-wrap{
		position: absolute;
		top: 50px;
	}

	.breadcrumbs{
		left: 110px;
		top: 70px;
		display: none;
	}

	
	.top-menu{
		display: none;
	}

	
	.phone-url{
	display: block;
    height: 100%;
    padding: 14px;
    text-align: center;
    width: 100%;
		
	}


	.search-wrap.abs{
		top: 60px;
		right: 10px;
		border:1px solid #333;
		padding: 3px 12px;
	}

	

	 .categories, .cart-wrap{
	   border-left: 1px solid #B7B2F7;
    	border-right: 1px solid #454545;
    	width: 50%;
    
	}

	
	.cart-wrap:hover,  
	.categories:hover {
		background: #AB94BC;
	}

	.cart-wrap{
	background-image: none;

	height: 50px;
	right: 0;
	top: 0;
	float: right;
	position: relative;
	}

	.cart{
 background: url("../images/cart-a-bg.png") no-repeat scroll 11px 19px rgba(0, 0, 0, 0);
    display: block;
    height: 100%;
    padding-top: 11px;
	}
}

@media screen and (max-width:610px) {
	.copyright{
		display: block;
		clear: both;
		text-align: center;
		float: none;
		margin:20px auto 5px;
	}


	.footer-wrap{
		height: 120px;
	}

	.m-foot{
		padding: 20px 10px 10px;
		border: none;
	}

	body{
		padding-bottom: 150px;
	}

	
}

@media screen and (max-width:510px) {
	.phone-footer{
		display: none;
	}

	.m-foot{
		padding: 20px 0 10px;
		width: 100%;
	}

	.soc-footer{
		margin: 0;
		width: 100%;
	}

	.phone-mobile{
		display: block;
	}

	.soc-item-url{
		width: 16.66%;
		background-color: #9671B1 !important;
		margin: 0;
		float: left;
		height: 50px;
   border-left: 1px solid #B7B2F7;
    border-right: 1px solid #454545;
	}
}




@media screen and (max-width:410px) {
	.article-image {
		float: none;
		display: block;
		text-align: center;
	}

	.article-more{
		position: relative;
		right: 0;
		bottom: 0;
		width: 100%;
	}

	.article-more a{
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		width: 100%;
	}
}