/* Styles for custom selects */
.done select{
	height:1px;
	width:1px;
	border:none;
	background:none;
	padding:0;
	margin:0;
    position: relative;
    left:-2px;
    z-index: -10;
	outline:none;
	-webkit-appearance: none;
	}
.select-list{
	position:			absolute;
	left:				0
	}
.custom-select{
	z-index:			1
	}
.custom-select *{
	-webkit-user-select:none;
	-khtml-user-select: none;
	-moz-user-select: 	none;
	-ms-user-select: 	none;
	-o-user-select: 	none;
	user-select: 		none;
	}
.open_list{
	z-index:			10
	}
.custom-select ul,
.custom-select li{
	margin:				0;
	padding:			0;
	list-style:			none
	}
.custom-select,
.custom-select ul{
	position:			relative;
	top:				0;
	left:				0
	}
.custom-select .custom-text{
	cursor:				pointer;
	display:			inline-block;
	}
.custom-select li{
	cursor:				pointer;
	
	}
.select-scroll{
	position:			absolute;
	right:				2px;
	top:				2px;
	z-index:			2
	}
.default-scroll ul{
	overflow-y:			scroll
	}

.scroll-drag{
	display:			block;
	position:			absolute;
	left:				1px;
	cursor:				pointer
	}
.disabled *{
    cursor:             default !important
    }

.custom-select .custom-text,
.custom-select.disabled span.custom-text:hover{
	overflow:			hidden;
	height:				30px;
	padding:			0 0 0 10px;
	line-height:		30px;
	border-radius:15px;
	background: #FFED78;		
	}
.custom-select .custom-text:before{
	position:			relative;
	display:			block;
	content:			'';
	height: 6px;
	float: 				right;
	width:				6px;
	z-index: 			2;
	right: 12px;
	top: 12px;
	background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAADCAYAAACwAX77AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABZ0RVh0Q3JlYXRpb24gVGltZQAxMC8yMy8xMzoQe4sAAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzbovLKMAAAALElEQVQImVXJsRUAEADE0M8znDkMYAVnc42CdEnK6DNYfnZFsN+ItCt5RuAAAvEFoqsiwTcAAAAASUVORK5CYII=) center center no-repeat;
	}
.custom-select span.custom-text:hover,
.active span.custom-text{
	background: #FFED78;
	color: #62486e;	
	}
.select-list{
	top:				24px;
	line-height:		25px;
	padding:			0 0 0 10px;
	background-color:	#14609e;
	
	}

	.select-list ul {
		min-width:230px;
	}
.select-list.custom-scroll{
	padding:			0;
	}

	.custom-select li{padding: 2px 6px;margin-bottom: 1px;}
	.custom-select li:last-child{margin-bottom: 0;}
.select-list .selected,
.select-list li:hover{
	color:				color: #62486e;
	background: #ffed78;
	}
.select-list li.disabled{
	color:				#CCCCCC;
	cursor:				default
	}
.select-scroll{
	background-color:	#73b0e2;
	width:				12px;
	-webkit-border-radius:2px;
	-moz-border-radius: 2px;
	border-radius: 		2px; 
	}
.scroll-drag{
	top:				0;
	width:				10px;
	background-color:	#14609e;
	-webkit-border-radius:2px;
	-moz-border-radius: 2px;
	border-radius: 		2px; 
	}

.maxlength .scroll-drag:after{
	display:			block;
	content:			'≡';
	font-size:			14px;
	position:			relative;
	left:				50%;
	top:				50%;
	margin:				-14px 0 0 -4px
	}
.custom-select .hover{
	color:				#FFF
	}
.custom-select.disabled{
    opacity:            0.5 !important;
    }

    .custom-select{
	display: inline-block;
	vertical-align: middle;
	margin-left: 4px;
}

.select-list{
	background: none;
}

.select-list:before{
	content:'';
	display: block;
	width: 0;
	height: 0;
	position: absolute;
	top: 0px;
	left: 20px;
	border-width: 10px;
	border-style: solid;
	border-color: transparent transparent #FFED78 transparent;
}

.select-list ul{
	border:3px solid #FFED78;
	padding: 0;
	background: #ddd;
	overflow: hidden;
	border-radius:15px;
	margin-bottom: 70px;
	margin-top: 20px;

}
