body{
	 font-family: 'Roboto Slab', serif;
	 font-size: 100%;
	 color: #93849a;
	background: #d2bbe4 url('../images/bg-gl.png') 0 0 repeat;
}

body.dev{
	background: #ffaab7 url('../images/bg-dev.png') 0 0 repeat;
}

body.mal{
	background: #b4e8ff url('../images/bg-mal.png') 0 0 repeat;
}

body.malish{
	background: #ffed78 url('../images/bg-malish.png') 0 0 repeat;
}

body.vzsl{
	background: #c3f37f url('../images/bg-vzsl.png') 0 0 repeat;
}


/* main header */

.site-name{
	width: 240px;
	margin: 0;
	left: 0;
	top: 10px;
}

.header-wrap{
	height: 100px;
	background: #fff;
}

.m-head{
	padding: 25px 70px 30px 260px;
	font-weight: 500;
}

.phone-wrap{
	font-size: 16px;
}

.top-menu{
	font-size: 13px;
}

.top-menu-url:not(:first-child){
	margin-left: 20px;
}

.cart-wrap{
	position: absolute;
	right: 0;
	top: 25px;
	width: 41px;
	height: 43px;
	background: transparent url('../images/cart-bg.png') center center no-repeat;
}

.cart{
	width: 100%;
	height: 100%;
	display: block;
	font-size: 8px;
	text-align: center;
	padding-top: 3px;
	color: #f9e66d;
}

.categories{
	list-style: none;
	margin: 0;
	font-size: 14px;
	padding: 10px 0 0 0;
}

.categories-item{
	float:left;
	display: inline-block;
}

.categories-item:not(:first-child){
	margin-left: 16px;
}

.search-wrap{
	top: 120px;
	right: 0;
	padding: 4px 13px 5px;
	border-radius:17px;
	background: #fff;
	height: 33px;
	width: 235px;
	color: #62486e;
}

.search-input-wrap input{
	height: 100%;
	width: 196px;
	border: none;
	background: none;
	padding: 0;
	color: #62486e;
	vertical-align: baseline;
	font-weight: bold;
}

.search-submit{
	border: none;
	background: transparent url('../images/search-icon.png') center center no-repeat;
	width: 10px;
	height:10px;
	vertical-align: middle;
	cursor: pointer;
}

/*END main header*/

/*the cat blocks*/

.cat-blocks{
	margin-top: 190px;
}

.cat-blocks-item{
	width: 240px;
	height: 280px;
	background: transparent url('../images/cat-bg.png') center top no-repeat;
	float: left;
	margin-left: 5px;
}

.cat-blocks-item:first-child{
	margin-left: 0;
}

.cat-blocks-item.last{
	background: transparent url('../images/cat-bg-last.png') center center no-repeat;
	width: 540px;
	height: 90px;
	clear:both;
	margin:30px auto;
	float: none;
}