body{
	 font-family: 'Roboto Slab', serif;
	 font-size: 100%;
	background: #d2bbe4 url('../images/bg-gl.png') 0 0 repeat;
}

body.dev{
	background: #ffaab7 url('../images/bg-dev.png') 0 0 repeat;
}

body.mal{
	background: #b4e8ff url('../images/bg-mal.png') 0 0 repeat;
}

body.malish{
	background: #ffed78 url('../images/bg-malish.png') 0 0 repeat;
}

body.vzsl{
	background: #c3f37f url('../images/bg-vzsl.png') 0 0 repeat;
}

.g-outer{
	width: 100%;
}

.g-inner{
	width:100%;
	margin: 0 auto;
	max-width: 980px;
}

.site-name{
	width: 240px;
	margin: 0;
}

.header-wrap{
	height: 100px;
	background: #fff;
	padding-left: 240px;
}