@font-face {
	font-family: 'museo_500';
	src: url('fonts/museo_500.eot');
	src: local('☺'), url('fonts/museo_500.woff') format('woff'), url('fonts/museo_500.ttf') format('truetype'), url('fonts/museo_500.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'museo_700';
	src: url('fonts/museo_700.eot');
	src: local('☺'), url('fonts/museo_700.woff') format('woff'), url('fonts/museo_700.ttf') format('truetype'), url('fonts/museo_700.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'museo_sans_500';
	src: url('fonts/musoe_sans-500.eot');
	src: local('☺'), url('fonts/musoe_sans-500.woff') format('woff'), url('fonts/musoe_sans-500.ttf') format('truetype'), url('fonts/musoe_sans-500.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'museo_sans_700';
	src: url('fonts/muso_sans_700.eot');
	src: local('☺'), url('fonts/muso_sans_700.woff') format('woff'), url('fonts/muso_sans_700.ttf') format('truetype'), url('fonts/muso_sans_700.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}



